<meta charset="utf-8">
<!-- http://t.co/dKP3o1e -->
<!-- http://getbootstrap.com/getting-started/ -->
<!-- https://www.taniarascia.com/what-is-bootstrap-and-how-do-i-use-it/ -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% include seo.html %}

<!-- Stylesheets -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">

<!-- Icons -->
<link rel="apple-touch-icon" href="{{ '/assets/icons/Icon-App-76x76@1x.png' | absolute_url }}"
      type="image/png" sizes="76x76">
<link rel="apple-touch-icon" href="{{ '/assets/icons/Icon-App-76x76@2x.png' | absolute_url }}"
      type="image/png" sizes="152x152">
<link rel="apple-touch-icon" href="{{ '/assets/icons/Icon-App-76x76@3x.png' | absolute_url }}"
      type="image/png" sizes="228x228">
<link rel="icon" href="{{ '/assets/icons/playstore-icon.png' | absolute_url }}"
        type="image/png" sizes="512x512">

<meta http-equiv="cleartype" content="on">
