#about {
  padding: 100px 0;
}
#about .block h2 {
  padding-top: 35px;
  line-height: 27px;
  margin: 0;
}
#about .block p {
  color: #7B7B7B;
  padding-top: 20px;
}
#about .block img {
  padding-left: 40px;
  width: 100%;
}
#about .section-title {
  margin-bottom: 0px;
}
#about .section-title p {
  padding-top: 20px;
}
