@media only screen and (max-width: 767px) {
  #splash {
    padding-top: 90px;
    padding-bottom: 100px;
  }
  #splash .block {
    padding-left: 0px;
  }
  #splash .block h1 {
    font-size: 20px;
  }
  #splash .block p {
    font-size: 13px;
  }
}
